* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN BOX */
.login-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.login-box {
    background: white;
    padding: 35px 40px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
    text-align: center;
}

.login-box h2 {
    font-size: 26px;
    color: #e60023;
    margin-bottom: 5px;
}

.title {
    color: #777;
    margin-bottom: 25px;
}

/* INPUTS */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: #e60023;
}

/* BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #e60023;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background: #cc001d;
}

/* SIGNUP */
.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-text a {
    color: #e60023;
    text-decoration: none;
    font-weight: 600;
}
@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 25px;
    }

    .login-box h2 {
        font-size: 22px;
    }
}
